/* COMMON */
// @media (max-width: 768px) {
//   .top_sub_menu {
//     display: none;
//   }
//   ul.menu {
//     display: none;
//   }
// }
  

html, body {
  width: 100%;
}
body {
  /* height: 2300px; */
  color: #16181B;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.4;
  cursor: none;
  margin: 0;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  pointer-events: none;
  /* 뷰포트 모서리 기준 지름 중앙정렬 */
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  backdrop-filter: invert(100%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}
main {
  /* display: flex;
  flex-direction: column; */
  min-height: 150vh; /* �붾㈃ �꾩껜 �믪씠 */
  /* margin: 0; */
}
img {
  display: block;
  max-width: 100%;
  cursor: none;
}
a,ul {
  text-decoration: none;
  list-style: none;
  color: #16181B;
}
a {
  display: block;
}
button {
  /* border: none; */
  outline: none;
  background-color: inherit ;
  cursor: pointer;
}

.cursor {

}

/* HEADER */
header {
  .top_sub_menu {
    .menu_list--user_manage {
      a {

      }
    }
  }
  .header__inner {
    h1 {
      a {
        img {

        }
      }
    }
    .search {
      .material-icons {

      }
    }
    .sub-menu {
      .menu_list--promotion_event {
        a {

        }
      }
    }
  }
}

/* MAIN */
main {
  .main-menu {
    .delivery {
      .deliver__item--name {
        button {
          .material-icons--lists {
            .material-icons.truck {

            }
            .material-icons.arrow_drop_down {

            }
          }
        }
      }
      .deliver__item--contents {
        .deliver__contents {
          a {

          }
        }
      }
    }
    .menu_list--shopping_cate {
      .shopping_cate__item--name {
        a {
          span {
            
          }
        }
      }
    }
  }
}