@charset "UTF-8";
/* COMMON */
@media screen and (max-width: 1390px) {
  .menu_list--user_manage {
    display: none;
  }
  .header__inner {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .search {
    display: flex; /* 레이아웃 정렬을 위해 flexbox 사용 */
  }
  input {
    position: absolute;
    left: -4.5em;
  }
  .material-icons {
    position: relative;
    left: 9.5em;
  }
  .menu_list--promotion_event {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .top_sub_menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu_list--promotion_event {
    display: none;
  }
}
html, body {
  width: 100%;
}

body {
  /* height: 2300px; */
  color: #16181B;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400px;
  font-size: 62.5%;
  line-height: 1.4;
  cursor: none;
  margin: 0;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  pointer-events: none;
  /* 뷰포트 모서리 기준 지름 중앙정렬 */
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

main {
  /* display: flex;
  flex-direction: column; */
  min-height: 150vh;
  /* margin: 0; */
}

img {
  display: block;
  max-width: 100%;
  cursor: none;
}

a, ul {
  text-decoration: none;
  list-style: none;
  color: #16181B;
}

a {
  display: block;
}

button {
  /* border: none; */
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

/* HEADER */
header {
  width: 100%;
  position: relative;
}
header .top_sub_menu .menu_list--user_manage {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: right;
}
header .top_sub_menu .menu_list--user_manage li::before {
  content: "";
  width: 0.1em;
  height: 1.2em;
  background-color: #DDD;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 1em auto;
}
header .top_sub_menu .menu_list--user_manage a {
  font-size: 1.4em;
  padding: 0.35em 0.7em;
  white-space: nowrap;
}
header .header__inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .header__inner h1 a img {
  width: 16em;
}
header .header__inner .search {
  position: absolute;
  top: 2em;
  left: 25em;
  height: 4em;
  display: flex; /* 레이아웃 정렬을 위해 flexbox 사용 */
  align-items: center;
}
header .header__inner .search input {
  width: 25.5em;
  height: 100%; /* 부모 요소와 동일한 높이 */
  border: 0.1em solid #F44336;
  box-sizing: border-box;
  border-radius: 5em;
  padding: 0 10px 0 14px;
  outline: none;
  cursor: unset;
}
header .header__inner .search .material-icons {
  font-size: 2.5em;
  cursor: pointer;
  position: relative;
  right: 1.75em;
}
header .header__inner .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header__inner .sub-menu .menu_list--promotion_event {
  display: flex;
}
header .header__inner .sub-menu .menu_list--promotion_event a {
  font-size: 1.6em;
  padding: 0.35em 0.7em;
  justify-content: center;
}
header .header__inner .material-icons.more-btn {
  border: none;
  font-size: 4em;
  color: rgb(153, 151, 151);
  display: none;
}

/* MAIN */
main .main-menu .delivery {
  background-color: lightblue;
}/*# sourceMappingURL=main.css.map */