@charset "UTF-8";
/* 반응형 디자인 */
@media (min-width: 1440px) and (max-width: 2600px) {
  .material-icons.more-btn {
    display: none;
  }
}
/* 데스크톱: 1320px ~ 1440px*/
@media (min-width: 1320px) and (max-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header__inner {
    width: 100%;
    display: flex; /* Flexbox로 레이아웃 설정 */
    justify-content: flex-start; /* 왼쪽 정렬로 변경 */
    align-items: center; /* 수직 정렬 */
    gap: 2rem; /* 로고, 검색 박스, 메뉴 간격 추가 */
  }
  h1 {
    flex: 0 0 auto; /* 로고는 고정된 크기로 유지 */
    margin-right: auto; /* 로고 왼쪽 공간 활용 */
  }
  .sub-menu {
    flex: 1; /* 가변적인 너비로 확장 */
    margin-left: 2rem; /* 로고와 검색 박스 사이의 간격 */
  }
  .sub-menu .menu_list--promotion_event {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }
  .sub-menu .menu_list--promotion_event li a {
    letter-spacing: 0.05em; /* 간격 추가 */
    text-overflow: ellipsis; /* 생략 표시 */
    overflow: hidden;
  }
}
/* 태블릿 가로: 1320px */
@media (max-width: 1320px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .header__inner .sub-menu .menu_list--promotion_event {
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: 0;
  }
}
@media (max-width: 1320px) and (max-width: 768px) {
  .header__inner .sub-menu .menu_list--promotion_event {
    font-size: 2.25rem;
    line-height: 3.375rem;
  }
}
@media (max-width: 1320px) and (max-width: 480px) {
  .header__inner .sub-menu .menu_list--promotion_event {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 1320px) {
  .more-btn_B {
    position: relative;
    display: block;
    color: #16181B;
    height: 0.1em; /* 두께를 얇게 조정 */
    margin-bottom: 0.2em;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (max-width: 1320px) {
  .more-btn_B:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1320px) {
  .more-btn_B:after,
.more-btn_B:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: currentColor;
    width: 0.8em;
    height: 0.08em;
    transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
@media (max-width: 1320px) {
  .more-btn_B:after {
    opacity: 0;
    transform: translateY(1em);
  }
}
@media (max-width: 1320px) {
  .more-btn {
    font-size: 5em;
    line-height: 7.5em;
    letter-spacing: 0;
    display: block !important;
    width: 1.2em;
    position: absolute;
    top: 8%;
    right: 10rem;
    overflow: hidden;
    transform: translateY(-50%);
    z-index: 2;
  }
}
@media (max-width: 1320px) and (max-width: 768px) {
  .more-btn {
    font-size: 4.5em;
    line-height: 6.75em;
  }
}
@media (max-width: 1320px) and (max-width: 480px) {
  .more-btn {
    font-size: 4em;
    line-height: 6em;
  }
}
@media (max-width: 1320px) {
  .more-btn:hover .more-btn_B:before {
    opacity: 0;
    transform: translateY(-1em); /* 위로 이동 */
    transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
@media (max-width: 1320px) {
  .more-btn:hover .more-btn_B:after {
    opacity: 1;
    transform: translateY(0); /* 원래 위치 */
    transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
@media (max-width: 1320px) {
  .top_sub_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  .top_sub_menu ul.menu_list--user_manage {
    width: 40%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(207, 203, 200, 0.5) !important;
    padding: 1rem 2rem 3rem;
    border-radius: 1rem;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(1.5em);
            backdrop-filter: blur(1.5em);
  }
  .top_sub_menu ul.menu_list--user_manage.active {
    display: flex;
  }
  .top_sub_menu ul.menu_list--user_manage li {
    width: 100%;
    border-bottom: 0.05em solid rgba(104, 102, 103, 0.8);
    padding: 0.5rem 0;
    display: flex;
    font-size: 1.1em;
    line-height: 1.65em;
    letter-spacing: 0;
  }
}
@media (max-width: 1320px) and (max-width: 768px) {
  .top_sub_menu ul.menu_list--user_manage li {
    font-size: 0.99em;
    line-height: 1.485em;
  }
}
@media (max-width: 1320px) and (max-width: 480px) {
  .top_sub_menu ul.menu_list--user_manage li {
    font-size: 0.88em;
    line-height: 1.32em;
  }
}
@media (max-width: 1320px) {
  .top_sub_menu ul.menu_list--user_manage li:last-child {
    border-bottom: none;
  }
}
@media (max-width: 1320px) {
  .top_sub_menu ul.menu_list--user_manage li a {
    letter-spacing: 0.1em !important;
    color: rgb(60, 60, 60);
  }
  .top_sub_menu ul.menu_list--user_manage li a:hover {
    text-decoration: none !important; /* hover 시 밑줄 제거 */
  }
}
/* 태블릿 세로: 768px */
@media (max-width: 768px) {
  .header__inner {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 전체 요소 중앙 정렬 */
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 필요 시 부모 요소의 너비에 맞춤 */
    margin-bottom: 1rem; /* 다른 요소와 간격 추가 */
  }
  .main-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .product_unit {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_menu {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .header__inner {
    flex-direction: column;
  }
  .header__inner .search {
    width: 100%;
    margin-top: 1em;
  }
  .main-menu {
    align-items: stretch;
  }
  .product_unit {
    grid-template-columns: 1fr;
  }
  .footer_menu {
    flex-direction: column;
    align-items: center;
  }
}
/* 아이폰 모바일: 375px */
/* 안드로이드 모바일: 360px */
/* 기본 설정 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%; /* 1em = 10px */
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
  color: #16181B;
}

/* 공통 요소 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a, button, input {
  touch-action: manipulation;
}

/* Header */
header {
  width: 70%;
  margin: 2em auto 0;
  padding-top: 2em;
}
header .top_sub_menu {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
header .top_sub_menu ul.menu_list--user_manage {
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: 0;
  display: inline-block;
  background-color: rgba(207, 203, 200, 0.2);
  border-radius: 1rem;
}
@media (max-width: 768px) {
  header .top_sub_menu ul.menu_list--user_manage {
    font-size: 3.6rem;
    line-height: 5.4rem;
  }
}
@media (max-width: 480px) {
  header .top_sub_menu ul.menu_list--user_manage {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}
header .top_sub_menu ul.menu_list--user_manage li {
  display: inline-block;
}
header .top_sub_menu ul.menu_list--user_manage li a {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0;
  padding: 1em;
  display: flex;
}
@media (max-width: 768px) {
  header .top_sub_menu ul.menu_list--user_manage li a {
    font-size: 1.26rem;
    line-height: 1.89rem;
  }
}
@media (max-width: 480px) {
  header .top_sub_menu ul.menu_list--user_manage li a {
    font-size: 1.12rem;
    line-height: 1.68rem;
  }
}
header .top_sub_menu ul.menu_list--user_manage li a:hover {
  -webkit-text-decoration: underline 1px #666;
          text-decoration: underline 1px #666;
  text-underline-offset: 0.3em;
  transition: 300ms;
}
header .more-btn {
  display: none;
}
header .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
header .header__inner {
  position: relative; /* 기준 위치를 설정 */
  display: flex; /* 내부 요소를 정렬하기 위해 플렉스 박스를 사용 */
  justify-content: space-between; /* 요소 간의 간격을 균등하게 배치 */
  align-items: center; /* 세로 방향 정렬 */
}
header .header__inner h1 {
  flex: 1;
}
header .header__inner h1 .logo img {
  max-width: 26em;
}
header .header__inner .search {
  flex: 1.6;
  display: flex;
  align-items: center;
  position: relative;
}
header .header__inner .search input {
  width: 20em; /* 고정된 너비 */
  max-width: 100%;
  height: 2em;
  flex: 1;
  padding: 0.5em 1em;
  border: 1px solid #f65b60;
  transition: border-color 0.5s ease;
  border-radius: 5em;
}
header .header__inner .search input:focus {
  outline: 1px solid #007bff; /* outline으로 추가 테두리 */
  border: none;
  margin-left: 1.11px;
}
header .header__inner .search .material-icons {
  position: absolute;
  right: 1em;
  cursor: pointer;
}
header .header__inner .sub-menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
header .header__inner .sub-menu ul.menu_list--promotion_event {
  display: flex;
}
header .header__inner .sub-menu ul.menu_list--promotion_event li a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  padding: 1em;
}
@media (max-width: 768px) {
  header .header__inner .sub-menu ul.menu_list--promotion_event li a {
    font-size: 1.44rem;
    line-height: 2.16rem;
  }
}
@media (max-width: 480px) {
  header .header__inner .sub-menu ul.menu_list--promotion_event li a {
    font-size: 1.28rem;
    line-height: 1.92rem;
  }
}
header .header__inner .sub-menu ul.menu_list--promotion_event li a:hover {
  -webkit-text-decoration: underline 1px #666;
          text-decoration: underline 1px #666;
  text-underline-offset: 0.3em;
  transition: 300ms;
}

/* Main */
main {
  width: 100%;
}
main .main-menu {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f65b60;
}
main .main-menu .delivery {
  position: relative;
}
main .main-menu .delivery .deliver__item--name button {
  align-items: center;
  gap: 0.5em;
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  display: flex;
  width: 20rem;
  height: 100%;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  main .main-menu .delivery .deliver__item--name button .material-icons--lists {
    font-size: 1.44rem;
    line-height: 2.16rem;
  }
}
@media (max-width: 480px) {
  main .main-menu .delivery .deliver__item--name button .material-icons--lists {
    font-size: 1.28rem;
    line-height: 1.92rem;
  }
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists .material-icons.truck {
  position: absolute;
  left: 1.5em;
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists .material-icons.arrow_drop_down {
  position: absolute;
  right: 1.5em;
}
main .main-menu .delivery .deliver__item--contents {
  position: absolute;
  top: 7em;
  left: 4em;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;
  z-index: 3;
}
main .main-menu .delivery .deliver__item--contents li {
  margin-bottom: 0.5em;
  width: 15rem;
  height: 100%;
}
main .main-menu .delivery .deliver__item--contents li:last-child {
  margin-bottom: 0;
}
main .main-menu .delivery:hover .deliver__item--contents {
  display: block;
}
main .main-menu .menu_list--shopping_cate {
  display: flex;
  gap: 8rem;
}
main .main-menu .menu_list--shopping_cate li {
  font-size: 1.4em;
}
main .main-menu .menu_list--shopping_cate li a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  padding: 1em;
}
@media (max-width: 768px) {
  main .main-menu .menu_list--shopping_cate li a {
    font-size: 1.44rem;
    line-height: 2.16rem;
  }
}
@media (max-width: 480px) {
  main .main-menu .menu_list--shopping_cate li a {
    font-size: 1.28rem;
    line-height: 1.92rem;
  }
}
main .promotion .swiper-wrapper {
  display: flex;
}
main .promotion .swiper-wrapper .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Products */
.product_unit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}
.product_unit .product-wrapper {
  text-align: center;
}
.product_unit .product-wrapper .brand_img img {
  max-width: 100%;
  margin-bottom: 1em;
}
.product_unit .product-wrapper .product_img_wrap .product_img img {
  max-width: 15em;
}
.product_unit .product-wrapper .product--price {
  font-size: 1.8em;
  font-weight: bold;
}
.product_unit .product-wrapper .promo_icon {
  display: flex;
  gap: 0.5em;
}
.product_unit .product-wrapper .promo_icon span {
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}
.product_unit .product-wrapper .promo_icon .promo_icon_sale {
  background-color: #f65b60;
  color: #fff;
}
.product_unit .product-wrapper .promo_icon .promo_icon_coupon {
  background-color: #9bce26;
  color: #fff;
}

/* Footer */
footer {
  background: #f9f9f9;
  padding: 2em;
}
footer .footer_menu {
  display: flex;
  justify-content: center;
  gap: 2em;
}
footer .footer_menu li a {
  font-size: 1.2em;
}
footer .footer_contents {
  text-align: center;
  margin-top: 1em;
}
footer .footer_contents h4 {
  font-size: 1.4em;
  margin-bottom: 1em;
}
footer .footer_contents .footer_info {
  font-size: 1.2em;
  color: #666;
  line-height: 1.5;
}
footer .footer_end {
  text-align: center;
  margin-top: 2em;
}
footer .footer_end p {
  font-size: 1.2em;
  color: #777;
}
footer .footer_end .QR_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
footer .footer_end .QR_info img {
  width: 5em;
}/*# sourceMappingURL=main.css.map */